<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    
    
    <title>mon portfolio blog </title>
</head>

<body>

    <header>

        <nav>

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 115.13 117.42"><defs><style>.cls-1,.cls-4,.cls-6{fill:none;}.cls-2{fill:#b3b6bb;}.cls-3{clip-path:url(#clip-path);}.cls-4{stroke:#1d1d1b;stroke-width:0.68px;}.cls-5{fill:#e3e5e5;}.cls-6{stroke:#38404a;stroke-width:1.35px;}.cls-7{fill:#fff;}.cls-8,.cls-9{font-size:22.95px;fill:#1d1d1b;}.cls-8{font-family:Roboto-Black, Roboto;font-weight:800;}.cls-9{font-family:Roboto-Thin, Roboto;font-weight:200;}</style><clipPath id="clip-path" transform="translate(0 0)"><rect class="cls-1" width="115.13" height="117.42"/></clipPath></defs><title>Fichier 1</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><rect class="cls-2" x="16.43" y="20.25" width="82.26" height="79.2" transform="translate(-25.46 58.23) rotate(-45)"/><g class="cls-3"><rect class="cls-4" x="16.43" y="20.25" width="82.26" height="79.2" transform="translate(-25.46 58.23) rotate(-45)"/></g><rect class="cls-5" x="23.63" y="14.91" width="70.68" height="75.37" transform="translate(-19.92 57.1) rotate(-45)"/><g class="cls-3"><rect class="cls-6" x="23.63" y="14.91" width="70.68" height="75.37" transform="translate(-19.92 57.1) rotate(-45)"/></g><rect class="cls-7" x="25.6" y="25.76" width="68.3" height="72.1" transform="translate(-26.21 60.35) rotate(-45)"/><rect class="cls-6" x="25.6" y="25.76" width="68.3" height="72.1" transform="translate(-26.21 60.35) rotate(-45)"/><text class="cls-8" transform="translate(49.1 61.69)">N</text><text class="cls-9" transform="translate(65.21 61.69)">_</text></g></g></svg>
           
           <ul> <li><a href="#apropos">A propos</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#mycv">Mon CV</a></li>
            <li><a href="#articles">Articles</a></li>
            <li><a href="#contact">contact</a></li>
           </ul>

        <div class="search-barre">
            <input type="text" placeholder="Rechercher d'Articles..." class="search-input">
            <button class="search-button"><svg width="10" height="10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></button>
            </button>
        </div>

        </nav>

    </header>

    <main>

        
        
<section id="apropos">
     
        
        <article class="mainTexte">
        <h1>__Welcome to my portfolio !</h1>
        <p>I’m a junior web developer full stack  passionate about coding and technology.<br> Explore my projects and dive into articles that cover the latest in web development, tech trends,<br> and innovations in the digital world. Join me on a journey ! <br>
        <br><span>Nabil Achouri </span> </p> 
        </article>
    
        <!-- <img class = "capture1" src="/images/picture1.PNG" alt="capture1"> -->
        <img class = "capture2" src="/images/export.png"  alt ="capture2">

        <article class = "presentation">
        <h1>Pour Mieux vous accompagner</h1>
        <h3>Présentation de mes Compétences</h3> 
        </article>

        <article class ="logo" >
        <img src="/images/java-script.png" alt="logo css"width="150" height="150">
        <img src="/images/sql-server.png" alt="logo css"width="150" height="150">
        <img src="/images/css-3.png" alt="logo css"width="150" height="150">
        <img src="/images/logojs.png" alt="logo css"width="150" height="150">
       
        </article> 
</section>


<section id = "portfolio">
        
        <article class="listePortfolio">
        <h2><svg width="15" height="15"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#ffffff" d="M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z"/></svg>Portfolio </h2> 
        </article>

        
       <article class="text1">
        <h3>Nom du site internet</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptatem, eaque laborum suscipit tenetur deserunt omnis rerum et maxime adipisci cumque obcaecati ipsam totam aut?
        Non suscipit facilis voluptatem dolores?
        Fugit iure quibusdam, asperiores qui atque unde corrupti sint,
        pariatur impedit accusantium odit nisi consequuntur reiciendis praesentium commodi adipisci quos ullam saepe maxime voluptatem, sunt nihil illo exercitationem! Voluptate, nam.</p>

     <img src="/images/laptop.jpg" alt="laptop"width="500" height="300"  >
       </article> 
       
       <article class="text2">
        <h3>Nom du site internet</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptatem, eaque laborum suscipit tenetur deserunt omnis rerum et maxime adipisci cumque obcaecati ipsam totam aut?
        Non suscipit facilis voluptatem dolores?
        Fugit iure quibusdam, asperiores qui atque unde corrupti sint,
        pariatur impedit accusantium odit nisi consequuntur reiciendis praesentium commodi adipisci quos ullam saepe maxime voluptatem, sunt nihil illo exercitationem! Voluptate, nam.</p>
        

     <img src="/images/laptop.jpg" alt="laptop"width="500" height="300" >
       </article> 

</section>

<section id ="mycv">

     <a href="/plaquette/link/CV2023.24PE.pdf"><h2>Telecharger mon CV </h2></a>
     

    
    






</section>


    </main>

    


   


    
    
    

    <script src="../app.js"></script>
</body>
</html>